@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

#root {
	width: 100vw;
	height: 100vh;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.h-sidebar,
.h-content {
	height: calc(100vh - 63px);
}

.icon {
	width: 24px;
	height: 24px;
}

.active {
	color: #ff0057;
	border-bottom: #ff0057 2px solid;
}

input[type='file'] {
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	position: absolute;
}

@media (max-width: 1100px) {
	.flex-one {
		flex: 5;
	}
	.flex-two {
		flex: 6;
	}
}
@media (max-width: 768px) {
	.icon {
		width: 32px;
		height: 32px;
	}
	.sidebar-position {
		position: absolute;
		top: 63px;
	}
}

.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 30px;
	background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
	/* change div to reference your elements you put in <Masonry> */
	background: grey;
	margin-bottom: 30px;
}
